* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(../images/bckimg.jpg);
    width: 960px;
    margin: 0 auto;
}

.clearfix {
    content: " ";
    display: block;
    clear: both;
    overflow: auto;
}

/*header*/
h1 {
    background-color: blue;
    color: white;
    font-style: oblique;
    padding: 10px;

}

/*input box*/
.input {
    float: right;
}

/* all buttons styled colof*/
button {
    color: white;
    background-color: blue;
    padding: 10px;
}

.buttons {
    align-self: center;
    padding: 10px;
}

/*Image size*/
img {
    width: 300px;
    height: 300px;
    padding: 10px;
}

/*rating font details*/
p {
    color: white;
    font-size: 20px;
}